@import url(variaveis.css);

a {
  text-decoration: none;
}

header {
  background-color: var(--cor-branca);
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  color: #1C1C1C;
  font-size: 2rem;
  font-weight: bold;
}

header li {
  list-style: none;
}