:root {
  --cor-primaria: #0A3D62;
  --cor-secundaria: #F39C12;
  --cor-neutra-cinzaclaro: #F1F1F1;
  --cor-neutra-cinzamedio: #7F8C8D;
  --cor-neutra-preto: #1C1C1C;
  --cor-branca: #FFFFFF;
}